@model SchoolApp.Models.Course
@{
    ViewData["Title"] = "Course";
}
<form method="post" asp-action="CreateCourse">
    <fieldset>
        <legend>Course Form</legend>
        <div class="form-group row">
            
        </div>
        <div class="form-group">
            <label asp-for="CourseName" class="form-label mt-4">course Title</label>
            <input asp-for="CourseName" type="text" class="form-control" placeholder="Enter Course Title">
            <span asp-validation-for="CourseName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CourseDescription" class="form-label mt-4">Course Description</label>
            <textarea asp-for="CourseDescription" class="form-control" id="exampleTextarea" rows="4"></textarea>
            <span asp-validation-for="CourseDescription" class="text-danger"></span>

        </div>
        <div class="form-group">
            @Html.AntiForgeryToken()
            @Html.LabelFor(model => model.StartDate)
            @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control", type = "date" })
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            @Html.AntiForgeryToken()
            @Html.LabelFor(model => model.EndDate)
            @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control", type = "date" })
            <span asp-validation-for="EndDate" class="text-danger"></span>
        </div>

        <br />
        <button type="submit" class="btn btn-primary">Submit</button>
    </fieldset>
</form>
<br/>
<div>
    <a asp-action="CourseIndex">Back to List</a>
</div>